.login-form-container {
    max-width: 400px;
    margin: 0 auto;
}

footer {
    background-color: #aca7a6;
    color: white;
    width: 100%;
    text-align: center;
    padding: 12px;
    position: fixed;
    bottom: 0;
}

header {
    background-color: #6b1c66;
    color: white;
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
}

header h1 {
    font-size: 20px;
}

.contact-name {
    display: inline-block;
}

.link-to-dashboard {
    color: white;
    text-decoration: none;
}

.group-dot {
    width: 15px;
    height: 15px;
}

.note-action {
    max-width: 30px;
}

#floatingTextarea {
    min-height: 150px;
}

#noteEditTextarea {
    min-height: 200px;
}

.word-break {
    word-break: break-word;
}

.contact-photo {
    height: 300px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}

.contact-photo-button-container {
    position: absolute;
    top: 10px;
    left: 10px;
}

.contact-photo-container {
    position: relative;
}

@media only screen and (max-width: 600px) {
    .contact-name-heading {
        font-size: 18px;
    }
}